entrypoint = "main.lua"
run = "lua main.lua"

[nix]
channel = "stable-24_05"

[languages.lua]
pattern = "**/*.lua"

[languages.lua.languageServer]
start = ["lua-language-server"]

[workflows]
runButton = "Run"

[[workflows.workflow]]
name = "Run"
author = 40282242
mode = "sequential"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "lua main.lua"
